@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 15% 96%;
    --foreground: 220 15% 15%;

    --card: 0 0% 100%;
    --card-foreground: 220 15% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 15% 15%;

    --primary: 204 100% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 34 100% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 15% 90%;
    --muted-foreground: 220 15% 40%;

    --accent: 284 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 15% 80%;
    --input: 220 15% 96%;
    --ring: 204 100% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 15% 10%;
    --foreground: 0 0% 100%;

    --card: 220 15% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 220 15% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 204 100% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 34 100% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 15% 20%;
    --muted-foreground: 220 15% 80%;

    --accent: 284 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 15% 25%;
    --input: 220 15% 20%;
    --ring: 204 100% 40%;
  }
}

@layer base {
  * {
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-poppins);
  }
  .filter-grey {
    filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
      hue-rotate(32deg) brightness(98%) contrast(92%);
  }

  /* ========================================== TAILWIND STYLES */
  @layer utilities {
    .wrapper {
      @apply w-full max-w-7xl p-5 md:px-10 lg:mx-auto xl:px-0;
    }

    .flex-center {
      @apply flex items-center justify-center;
    }

    .flex-between {
      @apply flex items-center justify-between;
    }

    /* TYPOGRAPHY */
    /* 64 */
    .h1-bold {
      @apply text-[40px] font-bold leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[74px];
    }

    /* 40 */
    .h2-bold {
      @apply text-[32px] font-bold leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    .h2-medium {
      @apply text-[32px] font-medium leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    /* 36 */
    .h3-bold {
      @apply text-[28px] font-bold leading-[36px] md:text-[36px] md:leading-[44px];
    }

    .h3-medium {
      @apply text-[28px] font-medium leading-[36px] md:text-[36px] md:leading-[44px];
    }

    /* 32 */
    .h4-medium {
      @apply text-[32px] font-medium leading-[40px];
    }

    /* 28 */
    .h5-bold {
      @apply text-[28px] font-bold leading-[36px];
    }

    /* 24 */
    .p-bold-24 {
      @apply text-[24px] font-bold leading-[36px];
    }

    .p-medium-24 {
      @apply text-[24px] font-medium leading-[36px];
    }

    .p-regular-24 {
      @apply text-[24px] font-normal leading-[36px];
    }

    /* 20 */
    .p-bold-20 {
      @apply text-[20px] font-bold leading-[30px] tracking-[2%];
    }

    .p-semibold-20 {
      @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
    }

    .p-medium-20 {
      @apply text-[20px] font-medium leading-[30px];
    }

    .p-regular-20 {
      @apply text-[20px] font-normal leading-[30px] tracking-[2%];
    }

    /* 18 */
    .p-semibold-18 {
      @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
    }

    .p-medium-18 {
      @apply text-[18px] font-medium leading-[28px];
    }

    .p-regular-18 {
      @apply text-[18px] font-normal leading-[28px] tracking-[2%];
    }

    /* 16 */
    .p-bold-16 {
      @apply text-[16px] font-bold leading-[24px];
    }

    .p-medium-16 {
      @apply text-[16px] font-medium leading-[24px];
    }

    .p-regular-16 {
      @apply text-[16px] font-normal leading-[24px];
    }

    /* 14 */
    .p-semibold-14 {
      @apply text-[14px] font-semibold leading-[20px];
    }

    .p-medium-14 {
      @apply text-[14px] font-medium leading-[20px];
    }

    .p-regular-14 {
      @apply text-[14px] font-normal leading-[20px];
    }

    /* 12 */
    .p-medium-12 {
      @apply text-[12px] font-medium leading-[20px];
    }

    /* SHADCN OVERRIDES */
    .select-field {
      @apply p-regular-16 h-[54px] w-full rounded-full border-none bg-grey-50 px-5 py-3 placeholder:text-grey-500 focus:ring-transparent focus-visible:ring-transparent !important;
    }

    .input-field {
      @apply p-regular-16 h-[54px] rounded-full border-none bg-grey-50 px-4 py-3 placeholder:text-grey-500 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
    }

    .textarea {
      @apply p-regular-16 flex flex-1 border-none bg-grey-50 px-5 py-3 placeholder:text-grey-500 focus-visible:ring-transparent !important;
    }

    .button {
      @apply p-regular-16 h-[54px] rounded-full;
    }

    .select-item {
      @apply cursor-pointer py-3  focus:bg-primary-50;
    }

    .toggle-switch {
      @apply bg-gray-300 !important;
    }
  }

  /* ========================================== CLERK STYLES */
  .cl-logoImage {
    height: 38px;
  }

  .cl-userButtonBox {
    flex-direction: row-reverse;
  }

  .cl-userButtonOuterIdentifier {
    font-size: 16px;
  }

  .cl-userButtonPopoverCard {
    right: 4px !important;
  }

  .cl-formButtonPrimary:hover,
  .cl-formButtonPrimary:focus,
  .cl-formButtonPrimary:active {
    background-color: #ff7a59;
  }

  /* ========================================== REACT-DATEPICKER STYLES */
  .datePicker {
    width: 100%;
  }

  .react-datepicker__input-container input {
    background-color: transparent;
    width: 100%;
    outline: none;
    margin-left: 16px;
  }

  .react-datepicker__day--selected {
    background-color: #ff7a59 !important;
    color: #ffffff !important;
    border-radius: 4px;
  }

  .react-datepicker__time-list-item--selected {
    background-color: #ff7a59 !important;
  }
}
